---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import DefaultLayout from "./DefaultLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { subject, description, pubDate, updatedDate, img, author } = Astro.props;
---

<DefaultLayout>
  <article class="prose prose-sm mt-9 mx-2 sm:mx-auto">
    <h3 class="not-prose text-primary font-black">Ukraine</h3>
    <h1 class="title">{subject}</h1>
    <p class="font-bold">
      {description}
    </p>

    <p>
      {
        author && (
          <a href={author} class="text-black">
            {author}
          </a>
        )
      }
      {!author && <span class="text-black">{author}</span>}
      <FormattedDate date={pubDate} />
      {
        updatedDate && (
          <div>
            Last updated on <time>{updatedDate}</time>
          </div>
        )
      }
    </p>
    {img && <img width={720} height={360} src={img} alt="" />}
    <slot />
  </article>
</DefaultLayout>
